<head>
    <title>Shoe Stores</title>
</head>
<body>
    <h1>Find our which shoe stores carry your favorite brands</h1>

    <h3><a href="/stores">Add or view a store</a></h3>
    <h3><a href="/brands">Add or view a brand</a></h3>

</body>
